
.page-header {
    height: 500px;

    background-image:url(yamato.jpg);
    background-size:cover;
    /*background-color: #76ede2;*/
    margin-top: 0;
    /*padding: 20px 20px 20px 40px:*/
}

.page-header a{
  padding: 20px;
  float: right;
  display: block;
}

.page-header h2{
  color: #ffffff;
  font-size: 18px;
  opacity: 0.7;
  float: left;
  padding-top:400px;
}
.page-header h1{
  display: block;
  float: left;
  font-size: 36px;
}

.page-header h1, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    /*background-image:url(yamato.jpg);
    background-size:cover;*/

}

h1, h2, h3, h4 {
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    color: #4a4d4d;
}

.post h2 a, .post h2 a:visited {
    color: #4a4d4d;
}
